holoviews==1.20.0
matplotlib==3.8.4
nlp==0.4.0
numpy==2.2.0
pandas==2.2.3
plotly==5.24.1
Requests==2.32.3
scikit_learn==1.6.0
scipy==1.14.1
seaborn==0.13.2
selenium==4.27.1
snownlp==0.12.3
statsmodels==0.14.4
tensorflow==2.18.0
transformers==4.47.1
tslearn==0.6.3
webdriver_manager==4.0.2
